<h1 class="text-center text-white my-4">{{ titulo }}</h1>
<div class="container py-4 bg-white rounded">
    <div class="row d-flex">
        <div class="col-md-12">
            <app-btn-novo-task 
                [estilo]="'btn btn-success pull-right mb-3'" 
                [texto]="'Nova Tarefa'" 
                (novoTaskEvent)="novaTask($event)"
            ></app-btn-novo-task>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 mb-3 mb-sm-0" *ngFor="let task of tasks;let i = index">
            <app-task 
                [task]="task" 
                [taskIndex]="i"
                (notificaTaskExcluidaEvent)="removeTask($event)"
                (atualizaStatusEvent)="atualizarStatus($event)"
            ></app-task>
        </div>
    </div>
</div>
