@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background: linear-gradient(135deg, #0f3443 0%, #34e89e 100%) !important;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}